<div class="row">
  <app-dashboard-column
    status="New"
    [issues]="sorted.New"
    [issueMoved]="issueMoved"
    [enabled]="enabled"
    [droppable]="true"
  ></app-dashboard-column>
  <app-dashboard-column
    status="Assigned"
    [issues]="sorted.Assigned"
    [issueMoved]="issueMoved"
    [enabled]="enabled"
    [droppable]="true"
  ></app-dashboard-column>
  <app-dashboard-column
    status="Accepted"
    [issues]="sorted.Accepted"
    [issueMoved]="issueMoved"
    [enabled]="enabled"
    [droppable]="true"
  ></app-dashboard-column>
  <app-dashboard-column
    status="Fixed"
    [issues]="sorted.Fixed"
    [issueMoved]="issueMoved"
    [enabled]="enabled"
    [droppable]="true"
  ></app-dashboard-column>
</div>
<div class="row">
  <app-dashboard-column
    status="Other"
    [issues]="sorted.Other"
    [issueMoved]="issueMoved"
    [enabled]="enabled"
    [droppable]="false"
  ></app-dashboard-column>
</div>
