<app-bread-crumb-trail [crumbs]="crumbs"></app-bread-crumb-trail>

<nb-card>
  <nb-card-header>Edit Issue</nb-card-header>
  <nb-card-body>
    <app-issue-form [issue]="issue"></app-issue-form>
    <button nbButton *ngIf="signedIn" status="primary" (click)="updateIssue()">
      Update
      <nb-icon icon="save-outline"></nb-icon>
    </button>
    <nb-alert status="warning" *ngIf="!signedIn">
      <div style="display: flex; gap: 1em">
        <nb-icon icon="alert-triangle-outline"></nb-icon>
        <span>You must be signed in to update an issue</span>
      </div>
    </nb-alert>
  </nb-card-body>
</nb-card>
