<nb-card accent="info" [id]="issue.UUID">
  <nb-card-header (click)="visible = !visible">{{
    issue.SequenceNumber
  }}</nb-card-header>
  <nb-card-body *ngIf="visible">
    <p>{{ issue.Title }}</p>
    <div *ngIf="issue.Project">
      <strong>Project</strong>
      {{ issue.Project.Name }}
    </div>
    <div>
      <strong>Priority</strong>
      {{ issue.Priority }}
    </div>
    <div>
      <strong>Status</strong>
      {{ issue.Status }}
    </div>
    <div>
      <strong>Type</strong>
      {{ issue.Type }}
    </div>
    <div>
      <strong>Complexity</strong>
      {{ issue.Complexity }}
    </div>
    <div>
      <strong>Details</strong>
      {{ issue.Details }}
    </div>
    <div>
      <strong>Created</strong>
      {{ issue.Created }}
    </div>
    <div>
      <strong>Author</strong>
      {{ author }}
    </div>
    <div>
      <strong>Assigned To</strong>
      {{ assigned }}
    </div>
  </nb-card-body>
</nb-card>
