<app-bread-crumb-trail [crumbs]="crumbs"></app-bread-crumb-trail>

<nb-card>
  <nb-card-header>Edit User</nb-card-header>
  <nb-card-body>
    <app-user-form
      [user]="user"
      [addPhone]="addPhone"
      [remPhone]="remPhone"
      [addEmail]="addEmail"
      [remEmail]="remEmail"
    ></app-user-form>
    <button nbButton *ngIf="signedIn" status="primary" (click)="updateUser()">
      Update
      <nb-icon icon="save-outline"></nb-icon>
    </button>
    <nb-alert status="warning" *ngIf="!signedIn">
      <div style="display: flex; gap: 1em">
        <nb-icon icon="alert-triangle-outline"></nb-icon>
        <span>You must be signed in to update a user</span>
      </div>
    </nb-alert>
  </nb-card-body>
</nb-card>
