label {
  display: block;
  margin-bottom: 0.5em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 0.5em;
}

.row-justify {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5em;
  gap: 1em;
}

.column {
  flex: 1;
}

.column-bottom {
  padding-top: 1.5em;
}

.column-button {
  width: auto;
}
